
body{margin: 0; background-image: url("cravattepiccole.png") ;z-index: -1; background-size: 40%;}
.numeri{float: right; border: 1px solid orange; background: white}

.riga{border-bottom: 2px solid rgba(235, 52, 70); padding-bottom: 15px; padding-top: 15px;}

.paragrafo2{word-break:keep-all; word-spacing: 4px;
font-family: 'Roboto', cursive; background: rgba(43, 185, 207); border-right: 7px solid rgba(245, 15, 107); box-shadow: 15px 8px 18px  }


.paragrafo1{ word-break:keep-all; word-spacing: 4px; font-family: 'Open Sans', sans-serif;
font-family: 'Red Rose', cursive; background: white}

*{box-sizing: border-box;}

.voto{padding: 30px; background: rgb(177, 179, 181); border-radius: 15px;}

.row::after {
  content: "";
  clear: both;
  display: table;
}


[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif; background-color:
}


@media screen and (max-width: 700px) {
  li.nav, ul.nav {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .titolosin{
    display: none;
  }
}




@media screen and (min-width: 700px) {
   .topnav{
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .{ width: 100%;

  }
}



@media screen and (max-width: 700px) {
  .flip-card-container{ width: 100%;

  }
}



@media screen and (max-width: 700px) {
  .logo{ display: none;

  }
}

@media screen and (max-width: 277px) {
  .titolosin{
    display: none
  }
}


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%; background: red}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}




.flip-card-container {
	width: 100%;
	padding: 15px 0;
	text-align: center;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
  z-index: 2; background:

}

.flip-card {
	position: relative;
	width: 320px;
	height: 390px;
	display: inline-block;
	margin: 0 10px 20px 10px;
	border: 2px solid rgb(245, 15, 107);
	cursor: default;
	-webkit-transition: all 0.9s ease-in-out;
	-moz-transition: all 0.9s ease-in-out;
	-o-transition: all 0.9s ease-in-out;
	-ms-transition: all 0.9s ease-in-out;
	transition: all 0.9s ease-in-out;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
  box-shadow:  10px 8px 18px rgba(0,0,0,0.5);
  border-radius: 15px;
  z-index: 2


}

.flip-card:hover {
	-webkit-transform: rotate3d(0,1,0,-180deg);
	-moz-transform: rotate3d(0,1,0,-180deg);
	-o-transform: rotate3d(0,1,0,-180deg);
	-ms-transform: rotate3d(0,1,0,-180deg);
	transform: rotate3d(0,1,0,-180deg);
  z-index: 2
}

.flip-card-front {
	position: absolute;
	width: 100%;
	height: 100%;
  z-index: 2
}



.flip-card-back {
	background-color: #fcfcfc;
	width: 100%;
	height: 100%;
	-webkit-transform: rotate3d(0,1,0,180deg);
	-moz-transform: rotate3d(0,1,0,180deg);
	-o-transform: rotate3d(0,1,0,180deg);
	-ms-transform: rotate3d(0,1,0,180deg);
	transform: rotate3d(0,1,0,180deg);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
  border-radius: 15px;
  z-index: 2
}

.flip-card-back h2 {
	margin: 0 15px;
	padding: 40px 0 20px 0;
	font-size: 14px;
  word-break:keep-all; word-spacing: 4px; font-family: 'Open Sans', sans-serif;
 font-family: 'Red Rose', cursive;
	text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
  z-index: 2

}

.flip-card-back p {
	color: #555;
	margin: 0 10px;
	padding: 15px 5px;
	border-top: 1px solid #000;
	font-size: 12px;
	font-style: italic;
  z-index: 2
}

.flip-card-back a {
	display: block;
	color: rgba(85,85,85, 0.8);
	padding-top: 5px;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
  z-index: 2
}

.flip-card-back a:hover {
	color: rgba(158,8,36,0.7);
}
